◯Markdownで記述可能
<hr>
<%= form_with model: @post, local: true do |form| %>
<div>
<p>日付：<%= form.date_select :date, use_month_numbers: true %></p>
<p>タイトル：<%= form.text_field :title, placeholder: "タイトルを入力してください" %></p>
<p>内容：<%= form.text_area :content, placeholder: '学習内容を入力してください' %></p>
<%= form.submit "送信" %>
</div>
<% end %>